<?xml version="1.0" encoding="UTF-8"?>
<plugin id="benkesmith-local-webserver" xmlns="http://apache.org/cordova/ns/plugins/1.0" version="1.0.0">
    <name>Local WEBserver</name>
    <description>A Cordova plugin for creating a local webserver on the phone, and communicating with other apps.</description>
    <license>MIT</license>
	<keywords>cordova,webserver,socket,local</keywords>
    
	<js-module src="www/LocalWebserver.js" name="LocalWebserver">
        <clobbers target="LocalWebserver" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalWebserver">
                <param name="android-package" value="com.benkesmith.localwebserver.LocalWebserver" />
            </feature>
        </config-file>
        <framework src="com.github.nanohttpd:nanohttpd:2.3.1" type="gradleReference" />
		<source-file src="src/android/LocalWebserver.java" target-dir="src/com/benkesmith/localwebserver"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LocalWebserver">
                <param name="ios-package" value="LocalWebserver" />
            </feature>
        </config-file>
	
	<source-file src="src/ios/LocalWebserver.h" />
	<source-file src="src/ios/LocalWebserver.m" />
	
	<framework src="GCDWebServer" type="podspec" spec="~> 3.5.4" />   
	
	
	<edit-config target="NSLocalNetworkUsageDescription" file="*-Info.plist" mode="merge">
	  <string>This app needs local network access for communication.</string>
	</edit-config>
	
	<edit-config target="NSBonjourServices" file="*-Info.plist" mode="merge">
	  <array>
	    <string>_http._tcp</string>
	  </array>
	</edit-config>
	    
    </platform>
</plugin>
